<div class="gv-content">

{{#furniture}}
    <div class="gv-header-background">
    <div class="gv-header-wrapper">
        <div class="gv-header">
            <span class="gv-strap">{{pagestrap}}</span>
            <h1>{{headline}}</h1>
            <p class="gv-standfirst">{{standfirst}}</p>
            <div class="gv-byline">{{byline}}</div>
            <div class="gv-datestamp">{{datestamp}}</div>
<!--             <img class="gv-arrows" src="<%= path %>/assets/arrows.png" />
 -->            <div class="header-share-container">
                <button class="interactive-share" data-network="facebook"></button>
                <button class="interactive-share" data-network="twitter"></button>
                <button class="interactive-share" data-network="email"></button>
            </div>
            <span class="gv-groups-strap">Current channels</span>
        </div>
    </div>
    </div>

<div class="gv-main-content">
{{/furniture}}
    <div class="gv-nav">
        {{#chat}}
        <div class="gv-nav-block">
        <a href="#{{name}}">
            <div class="gv-nav-image-wrapper">
                <div class="gv-counter gv-topic-{{name}} {{^newmessageflag}}gv-empty{{/newmessageflag}}">{{newmessages}}</div>
                <div class="gv-nav-emoji gv-topic-{{name}}"><span class="gv-colour-emoji gv-topic-{{name}}">{{{emoji}}}</span>
                <svg  width="82px" height="82px" viewBox="0 0 82 82" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g class="svg-fill" id="Rules-Copy-2" transform="translate(-229.000000, -292.000000)" stroke="#fff" stroke-width="1.5" fill="#BB3A7F"> <g id="Group-6-Copy-2" transform="translate(230.000000, 288.000000)"> <circle id="Oval-Copy-2" cx="40" cy="45" r="40"></circle> </g> </g> </g> </svg>
                </div>
            </div>
        </a>
            <div class="gv-nav-text"><a href="#{{name}}">{{shortname}}</a></div>
        </div>
        {{/chat}}
    </div>
{{#furniture}}
        <div class="gv-intro">{{intro}}
    </div>
    {{/furniture}}

   <div class="gv-quotes-wrapper">
    <div class="gv-quotes">

        {{#chat}}
        <div class="gv-topic-intro-wrapper gv-topic-{{name}}">
            <div class="gv-topic-intro-text-wrapper">
                <span class="gv-strap"><a name="{{name}}"></a>{{strap}}</span>
                <h2>{{displayname}}</h2>
                <div class="gv-topic-status"><span class="gv-topic-members">{{members}} members</span> <span class="gv-topic-activity">Last update {{lastupdate}}</span>
                </div>
                <p class="gv-topic-intro">{{intro}}</p>
            </div>
        </div>
        <div class="gv-chat-outer-wrapper">
            <div class="gv-chat-wrapper">
                <div class="gv-chat-opens">{{chatbegins}}</div>
                {{#expanded}}<div class="gv-more-messages gv-topic-{{name}}" data-topic="{{name}}">Show earlier statements</div>{{/expanded}}
                {{#rows}}
                <div class="gv-row-wrapper gv-team-{{team}} gv-topic-{{topic}} {{#hideAtFirst}}gv-hide{{/hideAtFirst}}" data-id="{{datetime}}">

                    {{#mugshot}}
                    <div class="gv-mugshot-wrapper">
                        <div class="gv-mugshot gv-team-{{team}}"><img class="gv-topic-{{topic}}" src="{{{mugshot}}}" /></div>
                    </div>
                    {{/mugshot}}
                    <div class="gv-quote-wrapper gv-distance-{{distance}} gv-team-{{team}}" data-id="{{datetime}}">
                        <div class="gv-quote">{{{quote}}}</div>
                        <div class="gv-speaker"><a href="{{link}}">{{speaker}} {{datestring}}</a></div>
                        <div class="gv-datestring"></div>
                    </div>
                </div>
                {{/rows}}
                <div class="gv-chat-opens">{{chatends}}</div>

            </div>
        </div>

        {{#adfollowing}}
        <div class="c-advert interactive-ad-banner">
    <div class="ad-wrapper--desktop hide-until-tablet">
        <div id="dfp-ad--inline{{name}}"
             class="js-ad-slot ad-slot ad-slot--banner-ad ad-slot--banner-ad-desktop"
             data-link-name="ad slot banner"
             data-name="banner"
             data-tablet="1,1|2,2|728,90"
             data-desktop="1,1|2,2|88,70|728,90|940,230|900,250"></div>
    </div>

    <div class="ad-wrapper--mobile mobile-only">
        <div id="dfp-ad--inline{{name}}Mobile"
             class="js-ad-slot ad-slot ad-slot--inline ad-slot--inline{{name}}"
             data-link-name="ad slot inline{{id}}Mobile"
             data-name="inline{{name}}Mobile"
             data-mobile="1,1|2,2|300,250|fluid"></div>
    </div>
</div>
        {{/adfollowing}}

        {{/chat}}

    </div>
    </div>

</div>

</div>

<div class="mainTop">
<div class="e-content__related">
    <h2>more on Brexit</h2>
    <ul class="e-content__related-content">

      {{#related}}
        <a href="{{webUrl}}">
            <li class="e-content__related-content-item">
                <div class="e-content__related-content-item-wrap">
                    <div class="e-content__related-content-item-wrap-image">
                      <div class="e-content__related-content-item-wrap-image-container" style="background-image:url('{{fields.thumbnail}}');"></div>
                    </div>
                    <div class="e-content__related-content-item-wrap-copy">
                        <p class="e-content__related-content-item-wrap-copy-caption">{{webTitle}}</p>
                        <p class="e-content__related-content-item-wrap-copy-date">{{datestring}}</p>
                    </div>
                </div>
            </li>
        </a>
      {{/related}}
    </ul>
</div>
</div>