<div class="gv-quotes">

    {{#.}}
    <h2>{{name}}</h2>
    <p class="gv-topic-intro">{{intro}}</p>
    <div class="gv-chat-wrapper">
        {{#rows}}
        <div class="gv-row-wrapper">
            {{#mugshot}}
            <div class="gv-mugshot gv-team{{team}}"><img src="{{{mugshot}}}" /></div>
            {{/mugshot}}
            <div class="gv-quote-wrapper gv-distance-{{distance}} gv-team-{{team}}" data-id="{{idnum}}">
                <div class="gv-quote">{{quote}}</div>
                <div class="gv-speaker">{{speaker}}</div>
                <div class="gv-datestring">{{datestring}}</div>
            </div>
        </div>
        {{/rows}}
    </div>
    {{/.}}

</div>