.interactive-share {
    height: 32px;
    width: 32px;
    border-radius: 34px;
    display: inline-block;
    border: none;
    cursor: pointer;
    outline: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;

    &[data-network='facebook'] {
        background-image: url('<%= path %>/assets/img/facebook.svg');
        background-color: #3067a3;
    }

    &[data-network='twitter'] {
        background-image: url('<%= path %>/assets/img/twitter.svg');
        background-color: #03b3ee;
    }

    &[data-network='email'] {
        background-image: url('<%= path %>/assets/img/mail.svg');
        background-color: #767676;
    }
}

.interactive-share:hover {
  cursor:pointer;
  opacity:0.9;
}

