@import "mq";
@import "fonts";

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.gv-quotes {
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 50px;
    clear: both;
    padding-left: 5px;
}

.gv-chat-wrapper {
    padding-top: 20px;
    padding-bottom: 50px;
    background-color:   #ffffbb;
    overflow: hidden;
    clear: both;
}

.gv-row-wrapper {
    display: block;
    clear: both;
}

.gv-quotes > h2 {
    clear: both
}

.gv-quotes > p {
    clear: both
}

.u-cf {
    display: none;
}

.gv-speaker, .gv-datestring {
    @include fs-data(3);
    font-weight: 700;
    color: black;
}

.gv-speaker {
       color: black;
       display: inline-block;
}

.gv-datestring {
    display: inline-block;
    color: grey;
}

.gv-mugshot {
    position: relative;
    width: 15%;
    display: inline-block;
    &.gv-team-EU {
    float: left;
    }
&.gv-team-UK {
    float: right;
}
}



.gv-mugshot img {
    filter: grayscale(80%);
    position: relative;
    max-width: 80px;
    max-height: 80px;
    border-radius: 40px;
    float: right;
    margin-top: 10px;
}


.gv-quote-wrapper {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    border-radius: 4px 4px 4px 4px;
    width: 80%;
    padding-left: 5px;

    &.gv-team-EU {
        float: left;
       // border: 1px dotted royalblue;
        background-color: #e3ffff;
    }

    &.gv-team-UK {
        float: right;
        //border: 1px dotted red;
        background-color: white;

    }

}
